# SPDX-License-Identifier: GPL-2.0+
# Copyright (C) 2026 khaliforce <kforce@gmail.com>

if TARGET_SUN20I_D1

config SYS_CPU
	default "c906"

config SYS_BOARD
	default "sunxi"

config SYS_SOC
	default "sunxi"

config SYS_CONFIG_NAME
	default "sun20i"

config TEXT_BASE
	default 0x4a000000

config SYS_LOAD_ADDR
	default 0x42000000

config SUNXI_GEN_NCAT2
	bool

config SUNXI_NEW_PINCTRL
	bool

config SUNXI_SRAM_ADDRESS
	hex
	default 0x20000

config SYS_CLK_FREQ
	default 1008000000

config DRAM_CLK
	int "D1 DRAM clock in MHz"
	default 792
	help
	  Set the DRAM clock for the fitted memory chips.
	  Use the value tested for the board.

config DRAM_ZQ
	int "D1 DRAM ZQ calibration"
	default 8092667
	help
	  Set the ZQ calibration value for the fitted memory chips.
	  Use the value tested for the board.

endif
